{% extends 'layout.html.twig' %}

    {% block body %}
        <ul>

                <li>{{ sortie.nom }}</li>
                <li>{{ sortie.dateHeureDebut.date }}</li>
                <li>{{ sortie.dateLimiteInscription.date}}</li>
             <li>{{ sortie.infosSortie }}</li>
{#                TODO: chercher nb d'inscrits en base#}
                <li>{{ sortie.nbInscriptionMax }}</li>
                <li>{{ sortie.etat.libelle }}</li>
{#                TODO: chercher si utilisateur en session inscrit#}
                <li>{{ sortie.userOrganisateur.username }} </li>


{#                <li> <a href="{{ path('afficherUneSortie',{'id' :  sortie.id}) }}"> Afficher</a> </li>#}
                <br>

        </ul>
       Listes des participants :
            <br>
            <ul>
                {% for u in sortie.users %}
                    {% if app.user.id == u.id %}
                        <li><a href="{{ path('user_profil', {'id': u.id}) }}"> {{ u.username }} </a></li>
                    {% else %}
                     <li><a href="{{ path('other_user', {'id': u.id}) }}"> {{ u.username }} </a></li>
                    {% endif %}
                {% endfor %}
            </ul>


{#        <button><a href="{{ path('sortie') }}">Créer une sortie</a></button>#}

    {% endblock %}



