{% extends 'layout.html.twig' %}

    {% block body %}
        {% for flashMessage in app.session.flashbag.get('successInscription') %}
        <div style="color: darkgreen" style="font-weight: bold">
       <h2>{{ flashMessage }}</h2>
        </div>
        {%  endfor %}
        {% for flashMessage in app.session.flashbag.get('successDesInscription') %}
            <div style="color: darkgreen" style="font-weight: bold">
                <h2>{{ flashMessage }}</h2>
            </div>
        {%  endfor %}

        {%  if message  %}
            <h1>{{ message }}</h1>
        {% endif %}

        <ul>

            {% for sortie in entities %}
                {% if sortie.etat.id != 6  %}
                {% set userInscritSortie = false %}
                    {% if sortie.Users.contains(app.user) %}
                    {% set userInscritSortie = true %}
                    {% endif %}
{#                {% for flashMessage in app.session.flashbag.get('echecInscriptionSortie') %}#}
{#                    <div style="color: darkgreen" style="font-weight: bold">#}
{#                        <h2>{{ flashMessage }}</h2>#}
{#                    </div>#}
{#                {%  endfor %}#}
{#                {% for flashMessage in app.session.flashbag.get('echecDesInscriptionSortie') %}#}
{#                    <div style="color: darkgreen" style="font-weight: bold">#}
{#                        <h2>{{ flashMessage }}</h2>#}
{#                    </div>#}
{#                {%  endfor %}#}
{#                {% for flashMessage in app.session.flashbag.get('palierInscritsMax') %}#}
{#                    <div style="color: darkgreen" style="font-weight: bold">#}
{#                        <h2>{{ flashMessage }}</h2>#}
{#                    </div>#}
{#                {%  endfor %}#}





                <li>{{ sortie.nom }}</li>
                <li>{{ sortie.dateHeureDebut.date }}</li>
                <li>{{ sortie.dateLimiteInscription.date}}</li>
{#                <li>{{ (sortie.dateHeureDebut)-(sortie.dateHeureFin) }}</li>#}
{#                TODO: chercher nb d'inscrits en base#}
                <li>{{ sortie.nbInscriptionMax }}</li>
                <li>{{ sortie.etat.libelle }}</li>
{#                TODO: chercher si utilisateur en session inscrit#}
                <li>{{ sortie.userOrganisateur.username }} </li>


                <li> <a href="{{ path('afficherUneSortie',{'id' :  sortie.id}) }}"> Afficher</a> </li>
               {% if  sortie.etat.id == 2 and userInscritSortie==false and sortie.users.count < sortie.nbInscriptionMax %}
                <li > <a href="{{ path('inscriptionSortie',{'id' :  sortie.id}) }}"> S'inscrire</a> </li>
{#                   onclick="confirm('Confirmez votre inscription')"#}
             {% endif %}
                {% if  sortie.etat.id == 2 and userInscritSortie==true %}
                    <li > <a href="{{ path('desinscriptionSortie',{'id' :  sortie.id}) }}"> Se désinscrire</a> </li>
{#                    onclick="confirm('Confirmez votre désinscription')"#}

                {% endif %}
                <br>
               {% endif %}
            {% endfor %}
        </ul>


        <button><a href="{{ path('sortie') }}">Créer une sortie</a></button>

    {% endblock %}



