<nav id="nav">
  <ul id="navUl">
        <li class="navLi"><a class="navLiA" href="{{ path('user_home') }}">Accueil</a></li>

        {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="navLi"><a class="navLiA" href="{{ path('user_profil', {'id': app.user.id} ) }}">Mon Profil</a></li>
            <li class="navLi"><a class="navLiA" href="{{ path('sortie') }}">Organiser une sortie</a></li>
            <li class="navLi"><a class="navLiA" href="{{ path('afficherSorties') }}">Les sorties</a></li>
            <li class="navLi"><a class="navLiA" href="{{ path('logout') }}">Se déconnecter</a></li>


        {% else %}
            <li class="navLi"><a class="navLiA" href="{{ path('login') }}">Se Connecter</a></li>
            <li class="navLi"><a class="navLiA" href="{{ path('register') }}">S'inscrire</a></li>
        {% endif %}

    </ul>
{#    , {'id': app.user.id}#}

</nav>

<nav>
    {% if is_granted('IS_AUTHENTICATED_REMEMBER') %}
    <h2> Hello {{  app.user.username  }} !</h2>
    {% endif %}
</nav>