{% extends 'layout.html.twig' %}


{% block nav %}
<img src="{{ asset('images/imgsortir.jpg') }}"/>
{% endblock %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('succesRegister') %}
    <div style="color: darkgreen" style="font-weight: bold">
        {{ flashMessage }}
    </div>

        <div>
            <img src="{{ asset('img/tchin.jpg')}}" width="450px">
        </div>
    {% endfor %}

    <form id="formLog" method="post" >
        <label for="username">Identifiant :</label> <input type="text" name="_username" id="username" required>
        <label for="password">Mot de passe :</label> <input type="password" name="_password" id="password" required>

        <input type="hidden" name="{{ path('user_home')}}" value=""/>
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>

        <input type="submit"></input>
        <input type="checkbox" id="remember_me" name="_remember_me" checked/>
        <label for="remember_me">Rester connecté/e !</label>
    </form>
{% endblock %}



