{% extends 'layout.html.twig'  %}

{% block body %}

    <script src="{{ asset('js/profil.js') }}"></script>

{#    {{ form_start(profilForm) }}#}
{#    {{ form_widget(profilForm) }}#}
<form action="{{ path("user_profil") }}" method="post">
    <label>Pseudo :</label>
    <input type="text" readonly value=""> {# {{ user.username }}#}
    <br></br>

    <label>Prenom :</label>
    <input type="text"  value=""> {# {{ user.prenom }}#}
    <br></br>

    <label>Nom :</label>
    <input type="text"  value=""> {# {{ user.nom }}#}
    <br></br>

    <label>Email :</label>
    <input type="email"  value=""> {# {{ user.email }}#}
    <br></br>

    <label>Telephone :</label>
    <input type="tel"  value=""> {# {{ user.telephone }}#}
    <br></br>

    <label>Mot de passe :</label>
    <input type="password"  value=""> {# {{ user.password }}#}
    <br></br>




    <input type="submit" value="Valider" id="validate" hidden >



</form>
{#   {{ form_end(profilForm) }}#}

    {#
    document.getElementById("name").readOnly = true;

    and unset:

    document.getElementById("name").readOnly = false;

    #}






{% endblock %}