{% extends 'layout.html.twig'  %}

{% block body %}

    <script src="{{ asset('js/profil.js') }}"></script>
    <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">

{#    {{ form_start(profilForm) }}#}
{#    {{ form_widget(profilForm) }}#}
<form action="{{ path("user_profil") }}" method="post" name="modifForm">
    <label>Pseudo :</label>
    <input type="text" readonly value="{{ user.username }}" required> {# #}
    <br></br>

    <label>Prenom :</label>
    <input type="text"  value="{{ user.prenom }}" required id="prenom" > {# #}
    <br></br>

    <label>Nom :</label>
    <input type="text"  value="{{ user.nom }}" required> {# #}
    <br></br>

    <label>Email :</label>
    <input type="email"  value="{{ user.email }}" required name="nom"> {# #}
    <br></br>

    <label>Telephone :</label>
    <input type="tel"  value="" required name="tel"> {# {{ user.telephone }} #}
    <br></br>

    <label>Mot de passe :</label>
    <input type="password"  value="" required name="password">
    <br></br>




    <input type="submit" value="Valider" id="validate"  name="validate">



</form>

    {% for flashMessage in app.session.flashbag.get('reussi') %}
        <div>
            {{ flashMessage }}
        </div>

    {%  endfor   %}
{#   {{ form_end(profilForm) }}#}

    {#
    document.getElementById("name").readOnly = true;

    and unset:

    document.getElementById("name").readOnly = false;

    #}






{% endblock %}